.cand-contain{
    max-width: 1000px;
    margin: 0px auto;
}

.cand-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    margin: 0px;
}

.cand-head h4{
    font-size: 32px;
    color: white;
    margin: 20px 0px;
}
.cand-head button{
    background-color: #120a3f;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.candet{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(38, 36, 36, 0.543);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.candet span:nth-child(1){
    font-weight: 600;
    /* color: rgba(65, 65, 241, 0.881); */
}

.cand-det{
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.cand-det h5{
    font-size: 25px;
    text-align: left;
}

.cand-left{
    flex: 1;
}
.cand-det-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.508);
    border: 2px solid white;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 10px;
}
.cand-right{
    flex: 1;
}
.prom{
    display: flex;
}
.title{
    color: white;
    font-size: 35px !important;
}
.cand-prom{
    display: flex;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.508);
    border: 2px solid white;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 10px;
}
.cand-left p {
    color: white;
    text-align: left;
    font-size: 18px;
}
.cand-right p{
    color: white;
    text-align: left;
    font-size: 18px;
    margin-bottom: 40px;
}